<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- nis navbar+banner -->
    <header id="home_index" class="postition-relative">
        <div class="video_layer">
            <img src="{% static 'images/philosophy.jpg' %}" alt="" class="w-100" style="height: 90dvh;">
        </div>
        <!-- Navbar -->
        <div class="container-fluid position-fixed top-0 w-100 px-0 navContainer">
            <div class=" container-fluid infoNav contactNav">
                <div class="row pt-2 px-3">
                    <div class="col-6 d-flex align-items-center pt-2">
                        <p class="pe-4">info@info@dominusoft.al</p>
                        <p> +355 67 300 5050</p>
                    </div>
                    <div class="col-6 text-end pe-2 d-flex pt-2 justify-content-end align-items-center">
                        <p class="pe-3">
                            <a href="https://www.instagram.com/dominusoft_education/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </p>
                        <p class="pe-3">
                            <a href="https://m.facebook.com/DominusoftEducation/" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </p>
                        <p class="pe-3">
                            <a href="https://www.youtube.com/@dominusoft8279" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </p>
                        <p class="pe-3">
                            <a href="https://www.tiktok.com/@dominusoft_education" target="_blank">
                                <i class="fab fa-tiktok"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light py-0 ">

                <div class="container-fluid">

                    <a class="navbar-brand py-0" href="index.html"><img src="images/logo.png" alt="DominusoftKids"></a>
                    <button class="navbar-toggler ms-auto mt-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navbardominusoft" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbardominusoft">
                        <ul class="navbar-nav ms-auto mb-0">
                            <li class="nav-item px-2 px-md-2 px-lg-2 px-xl-4">
                                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Kryefaqja</a>
                            </li>
                            <li class="nav-item px-2 px-md-2 px-lg-2 px-xl-4">
                                <a class="nav-link" href="{% url 'services' %}">Shërbime</a>
                            </li>
                            <li class="nav-item px-2 px-md-2 px-lg-2 px-xl-4">
                                <a class="nav-link" href="https://portal.dominusoft.al/" target="_blank"
                                    rel="noopener">Portali</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <!-- fund navbar -->
        <!-- Banner - Hero -->
        <div class="position-absolute moto1">
            <div class="moto text-center ">
                <h1 class="mb-4 display-5 fw-bold" id="element"></h1>
            </div>
        </div>
        <div class="position-absolute moto2">
            <div class="moto text-center ">
                <h3 class="mb-4 fw-bold ">Të suksesshëm në formimin e profesionistëve të vërtetë.</h3>
            </div>
        </div>
        <!-- fund banner-hero -->
    </header>
    <!-- fund navbar+banner -->
    <!-- nis rreth nesh -->
    <!-- fund rreth nesh -->
    <!-- nis programet -->
    <!-- fund programet -->
    <!-- nis moto/shprehje -->
    <!-- fund moto/shprehje -->
    <!-- nis footer -->
    <!-- fund footer -->
    <!-- Bootstrap -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript -->
    <script src="js/index.js"></script>
</body>

</html>