*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 100%;
    line-height: 1.5;
  }
  
  body {
    font-size: inherit;
    line-height: inherit;
  }
  
  .container {
    box-sizing: content-box;
    padding: 0 12px;
    max-width: 640px;
    margin: 48px auto;
  }
  
  .step-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .step-list__item {
    counter-increment: step-counter;
    position: relative;
  }
  .step-list__item:before {
    content: counter(step-counter);
    font-weight: 300;
    color: #d8d8d8;
  }
  .step-list__item h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
  .step-list__item .icon {
    border-radius: 50%;
    display: block;
    flex: 0 0 auto;
  }
  .step-list__item .icon img {
    width: 100%;
    height: 100%;
  }
  .step-list__item .body {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }
  .step-list__item .content {
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
  }
  .step-list__item:first-child .icon {
    background: #f4f6d5;
  }
  .step-list__item:nth-child(2) .icon {
    background: #e8f4f3;
  }
  .step-list__item:nth-child(3) .icon {
    background: #ededed;
  }
  .step-list__item:nth-child(4) .icon {
    background: #edf6ef;
  }
  .step-list__item:nth-child(5) .icon {
    background: #fef3f3;
  }
  .step-list__item:nth-child(odd) .content {
    justify-content: flex-start;
  }
  .step-list__item:nth-child(even) .content {
    justify-content: flex-end;
  }
  .step-list__item:first-child > .step-list__item__inner:before {
    content: none;
  }
  .step-list__item:last-child > .step-list__item__inner:after {
    content: none;
  }
  .step-list__item + li {
    margin-top: 84px;
  }
  .step-list__item + li > div {
    margin-top: -1px;
  }
  @media screen and (max-width: 600px) {
    .step-list__item {
      display: flex;
    }
    .step-list__item:before {
      content: counter(step-counter);
      position: relative;
      font-size: 36px;
      line-height: 42px;
      font-weight: 300;
      color: #000000;
      margin-right: 12px;
    }
    .step-list__item .icon {
      order: 0;
      width: 36px;
      height: 36px;
      padding: 9px;
      position: absolute;
      left: -9px;
      top: 42px;
    }
    .step-list__item .body {
      order: 1;
      margin-top: 8px;
      margin-left: 12px;
    }
    .step-list__item .content {
      align-items: flex-start;
    }
    .step-list__item .content:before {
      content: "";
      position: absolute;
      border-left: #d8d8d8;
      height: 100%;
      left: 9px;
      bottom: 0;
      display: block;
      width: 1px;
      background: #d8d8d8;
      top: 84px;
    }
    .step-list__item:last-child .content:before {
      content: none;
    }
  }
  @media screen and (min-width: 601px) {
    .step-list__item:before {
      content: counter(step-counter);
      position: absolute;
      font-size: 90px;
      line-height: 1;
      font-weight: 300;
      color: #d8d8d8;
    }
    .step-list__item .icon {
      width: 174px;
      height: 174px;
      padding: 48px;
    }
    .step-list__item .body {
      flex: 0 1 33.3333%;
      margin-top: 84px;
    }
    .step-list__item .content {
      align-items: flex-end;
    }
    .step-list__item > .step-list__item__inner {
      position: relative;
    }
    .step-list__item > .step-list__item__inner:before, .step-list__item > .step-list__item__inner:after {
      border-width: 0px;
      border-style: solid;
      border-color: #d8d8d8;
      display: block;
      content: "";
      position: absolute;
      height: 42px;
      width: calc( 33.3333% - 42px );
    }
    .step-list__item:nth-child(odd) > .step-list__item__inner {
      text-align: right;
    }
    .step-list__item:nth-child(odd) > .step-list__item__inner:before, .step-list__item:nth-child(odd) > .step-list__item__inner:after {
      border-left-width: 1px;
      left: calc( 33.3333% - 21px );
    }
    .step-list__item:nth-child(odd) > .step-list__item__inner:before {
      border-top-width: 1px;
      border-top-left-radius: 42px;
      margin-top: -42px;
    }
    .step-list__item:nth-child(odd) > .step-list__item__inner:after {
      border-bottom-width: 1px;
      border-bottom-left-radius: 42px;
      margin-bottom: -42px;
    }
    .step-list__item:nth-child(odd):before {
      left: 0;
      margin-left: 33.3333%;
      transform: translateX(-100%);
    }
    .step-list__item:nth-child(odd) .icon {
      margin-left: 72px;
    }
    .step-list__item:nth-child(even) > .step-list__item__inner:before, .step-list__item:nth-child(even) > .step-list__item__inner:after {
      border-right-width: 1px;
      right: calc( 33.3333% - 21px );
    }
    .step-list__item:nth-child(even) > .step-list__item__inner:before {
      border-top-width: 1px;
      border-top-right-radius: 42px;
      margin-top: -42px;
    }
    .step-list__item:nth-child(even) > .step-list__item__inner:after {
      border-bottom-width: 1px;
      border-bottom-right-radius: 42px;
      margin-bottom: -42px;
    }
    .step-list__item:nth-child(even):before {
      right: 0;
      margin-right: 33.3333%;
      transform: translateX(100%);
    }
    .step-list__item:nth-child(even) .icon {
      margin-right: 72px;
    }
    .step-list__item:nth-child(even) .body {
      order: 1;
    }
  }