/* Font family */
@font-face {
    font-family: 'AvenirNext';
    src: url('../font/avenir-next/avenirnextltpro-light.woff') format("woff");
}

/* #f9f871 , #3cc5ef */
:root {
    --color-diamond: #e6e7ee;
    --color-charcoal-blue: #31344b;
    --color-yelow: #f9f871
    ;
    --color-blue: #005176;
    --backgound-color: #fefcf6
}

/* Stilizimi baze */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'AvenirNext', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    background-color: var(--backgound-color);
}

h1,
h2 {
    color: var(--color-blue);
}

/* Navbar */
.navbar-brand img {
    width: 150px;
    height: 45px;
}

.infoNav {
    background-color: var(--color-yelow);
    color: #e6e7ee;
}

.infoNav a {
    text-decoration: none;
}

.contactNav {
    display: none;
}

.hero_home {
    position: relative;
    bottom: 40px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border: none;
}

.moto1 h1,
.moto2 h3 {
    color: var(--color-diamond);
    z-index: 9;
}

.moto1 {
    top: 40%;
}

.moto2 {
    top: 50%;
}

.moto1,
.moto2 {
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_layer>img {
    height: 100dvh;
}

#home_index::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.603);
}

#home_index nav,
#home_index nav a,
#home_index .moto_pos {
    z-index: 999999;
    color: #FFFFFF;
}

#digitalArt .image_layer {
    background-color: var(--color-blue);
    height: 40dvh;
}

/* Tabs */
.navbar-icon {
    width: 30px !important;
    height: 3px !important;
    margin: 5px 3px !important;
    background: #44476A;
    border-radius: 0;
}

.navbar-toggler {
    /* margin-top: 10px; */
    width: 50px;
    height: 30px;
    border: none;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 3px;
    background: #44476A;
    margin-bottom: 5px;
}

.navContainer {
    z-index: 9;
}

.waveNav {
    background-image: url(../images/waveNavbar.svg);
    /* background-color: red; */
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0%;
}

#home_index nav {
    transition: background-color 0.3s ease;
}

#home_index .nav-link {
    transition: color 0.3s ease;
}

#home_index .navbar-toggler .line {
    background: var(--color-diamond)
}

.btn-primary {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    border-radius: 20px;
}

/* footer */
.wave {
    background-image: url(../images/waveFooter.svg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

footer a {
    color: var(--color-diamond);
    text-decoration: none;
    padding: 20px;

    /* font-size: 1rem */
}

.card-img-top {
    width: 300px;
    height: 300px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 12px); */
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.1));
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.card {
    background-color: transparent;
}

.card-body a {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 1.5em;
    font-weight: bolder;
}

.fa-arrow-right {
    font-size: 0.7em;
}

.wrapper {
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
  }
  
  .items {
    display: flex;
    justify-content: center;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(131.83deg, #FFFAFA 0%,     #FFF7F7 99.21%);
    width: 300px;
    text-align: center;
    height: 300px;
    border-radius: 16px;
    position: relative;
  }
  
  .item:not(:last-child) {
    margin-right: 100px;
  }
  .item::before {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: linear-gradient(312.25deg, #bcccff 0%,     rgba(255, 255, 255, 0) 66.19%);
    z-index: -1;
    border-radius: 18px;
  }
  
  .inner {
    background-color: #fff;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    box-shadow: 0 40px 80px #e0e7fb;
    border-radius: 14px;
  }
  
  .name {
    font-size: 48px;
    margin: 0;
  }
  .custom-shape-divider-bottom-1733605803 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1733605803 svg {
    position: relative;
    bottom: 0;
    left: 0;
    /* display: block; */
    width: calc(100% + 1.3px);
    height: 150px;
    /* transform: rotateY(180deg); */
    transform: translateY(-1px) rotateY(180deg);
}

.custom-shape-divider-bottom-1733605803 .shape-fill {
    fill: var(--backgound-color);
}

.custom-shape-divider-top-1733606179 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1733606179 svg {
    position: relative;
    width: calc(100% + 1.3px);
    height: 104px;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    transform: translateY(-1px) rotateY(180deg);
}

.custom-shape-divider-top-1733606179 .shape-fill {
    fill: var(--backgound-color);
}

/* Responsive */
@media screen and (max-width:1024px) {}

/* @media screen and (max-width:800px) {} */

@media screen and (max-width:768px) {}

@media screen and (max-width:480px) {

    .moto1,
    .moto2 {
        display: none;
    }

    .navbar-brand img {
        padding-top: 10px;
        width: 120px;
        height: 40px;
    }

    .wave {
        height: 301px;
    }
}

@media screen and (max-width:320px) {}