/* Font family */
@font-face {
  font-family: 'AvenirNext';
  src: url('../font/avenir-next/avenirnextltpro-light.woff') format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* #f9f871 , #3cc5ef */
:root {
  --color-diamond: #e6e7ee;
  --color-yelow: #f9f871;
  --color-blue: #005176;
  --backgound-color: #fefcf6;

}

/* Stilizimi baze */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'AvenirNext', "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--backgound-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-blue);
  font-family: "Quicksand", "Segoe UI", sans-serif;
  font-weight: 900;
}

section {
  display: flex;
  align-items: center;
}

.text-white {
  color: var(--color-diamond);
}

/* Navbar */
.navbar-brand img {
  width: 150px;
  height: 60px;
}

.hero_home {
  position: relative;
  bottom: 40px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .55);
  border: none;
}

#home_index nav,
#home_index nav a,
#home_index .moto_pos {
  z-index: 999999;
  color: var(--backgound-color);
}

.navbar-icon {
  width: 30px !important;
  height: 3px !important;
  margin: 5px 3px !important;
  background: var(--color-diamond);
  border-radius: 0;
}

.navbar-toggler {
  width: 50px;
  height: 30px;
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 #00000000;
  border: none;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 3px;
  background: var(--color-diamond);
  margin-bottom: 5px;
}

.navContainer {
  z-index: 9;
}

nav {
  transition: background-color 0.3s ease;
}

.nav-link {
  transition: color 0.3s ease;
}

.navbar-toggler .line {
  background: var(--color-diamond)
}

/* Banner moto*/
.moto1 h1,
.moto2 h3 {
  z-index: 9;
}

.moto1 {
  top: 40%;
}

.moto2 {
  top: 50%;
}

.moto1,
.moto2 {
  left: 50%;
  transform: translate(-50%, -50%);
}

.art,
.contactArt {
  height: 100dvh;
  background-color: var(--color-blue);
}

.contactArt::before,
.contactArt #home_index::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100dvh;
}

.image_layer>img {
  height: 100dvh;
}

#home_index::before,
#digitalArt #home_index::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100dvh;
}

#home_index::before {
  background-color: rgba(0, 0, 0, 0.603);
}

#digitalArt #home_index::before {
  background-color: rgba(0, 0, 0, 0);
}

#digitalArt .image_layer {
  background-color: var(--color-blue);
  height: 40dvh;
}

/* Button */
.btn-primary {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border-radius: 20px;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--color-diamond);
  text-decoration: none;
  padding: 20px;
}

/* Programet */
.card-img-top {
  /* width: 90%; */
  height: 100%;
  filter: drop-shadow(0px 4px 12px #00517650);
}

section img {
  filter: drop-shadow(0px 4px 12px #00517650);
}

#programet .card-title {
  font-size: 1.5em;
  padding: 10px 0em;
}

.card {
  background-color: transparent;
}

.card-body a {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.5em;
  font-weight: bolder;
}

.line {
  height: 10px;
  width: 100px;
  background-color: var(--color-blue);

}

.nav-pills .nav-link {
  color: var(--color-blue);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--color-blue);
  background-color: transparent;
  border-bottom: 1px solid var(--color-blue);
  border-radius: 0;
}

.tab-content img {
  width: 100%;
  height: 100%;
}

.tab-content li {
  color: var(--color-blue);
  padding-bottom: 2px;
  font-size: 1.3em;
  text-align: start;
}

.age {
  font-weight: 900;
  font-size: 1.3em;
}

.pushable {
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  background-color: #005075;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.pushable i {
  font-size: 0.8em
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 0.5rem;
  background: hsl(345deg 100% 47%);
  background-color: #4981a9;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* arsye */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(131.83deg, #FFFAFA 0%, #FFF7F7 99.21%);
  width: 100px;
  text-align: center;
  height: 100px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: relative;
  box-shadow: 0 0px 20px #e0e7fb;
}

.item::before {
  position: absolute;
  content: "";
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-image: linear-gradient(312.25deg, #bcccff 0%, rgba(255, 255, 255, 0) 66.19%);
  z-index: -1;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.name {
  font-size: 48px;
  margin: 0;
}

/* Wave */
.custom-shape-divider-bottom-1733605803 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1733605803 svg {
  position: relative;
  bottom: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: translateY(-1px) rotateY(180deg);
}

.custom-shape-divider-top-1733606179 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1733606179 svg {
  position: relative;
  width: calc(100% + 1.3px);
  height: 104px;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
  transform: translateY(-1px) rotateY(180deg);
}

.custom-shape-divider-bottom-1733836099 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1733836099 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1733836099 .shape-fill,
.custom-shape-divider-top-1733606179 .shape-fill,
.custom-shape-divider-bottom-1733605803 .shape-fill {
  fill: var(--backgound-color);
  ;
}

/* Kontakt */
iframe {
  height: 400px;
}

.fa-angle-down {
  font-size: 2em;
  border-radius: 50%;
  border: 1px solid var(--color-diamond);
  padding: 19px 20px;
}

#contact a {
  color: var(--color-blue);
  font: 1.5em bold;
  text-decoration: none;
}

#contact i {
  color: var(--color-blue);
  font: 1em
}

/* Responsive */
@media screen and (max-width:1024px) {
  .moto .display-1 {
    font-size: 2.4em
  }

  #programet .card-title {
    font-size: 1.5em;
    padding: 10px 10px;
  }

  .arsye .ps-3 {
    padding-left: 2rem !important;
  }
}

@media screen and (max-width:992px) {
  .offcanvas-backdrop.show {
    opacity: 1;
    background: var(--color-blue);
  }

  .nav-link {
    z-index: 9999;
  }

  .navbar-toggler {
    color: #acacac;
    border: none;
    z-index: 999999999;
    outline: none !important;
  }

  .navbar-collapse {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999999;
  }
}

@media screen and (max-width:768px) {
  .image_layer img {
    object-fit: cover;
  }

  .moto1,
  .rrethnesh {
    display: none;
  }

  .moto h2 {
    font-size: 2.4em;
  }

  #programet .card-title {
    font-size: 1.2em;
  }

  .card-img-top {
    height: 320px;
  }

  .age {
    font-size: 1em;
  }

  .tab-content img {
    width: 80%;
    height: 100%;
  }
}

@media screen and (max-width:520px) {
  .display-6 {
    font-size: calc(1.3rem + 1.5vw);
  }

  .navbar-brand img {
    padding-top: 10px;
    width: 120px;
  }

  .moto {
    width: 100%;
  }

  .moto h2 {
    font-size: 2.4em;
    padding: 0 20px;
  }

  .moto p {
    padding: 0 10px;
  }

  .custom-shape-divider-bottom-1733836099,
  .custom-shape-divider-top-1733606179,
  .custom-shape-divider-bottom-1733605803,
  .moto1,
  .rrethnesh {
    display: none;
  }

  .tab-content li {
    color: var(--color-blue);
    padding-bottom: 2px;
    font-size: 1.1em;
  }

  #programet .card-title {
    font-size: 1.4em;
  }

  .fa-angle-down {
    font-size: 1.5em;
    border-radius: 50%;
    border: 1px solid var(--color-diamond);
    padding: 17px 18px;
  }

  footer a {
    padding: 10px;
    text-align: center;
  }

  footer .top-50 {
    top: 38% !important;
  }

  #programet,
  container {
    padding-top: 20px;
  }
}

@media screen and (max-width:480px) {
  .navbar-brand img {
    padding-top: 10px;
    width: 120px;
  }

  .moto .display-1 {
    font-size: 1.5em;
  }

  .moto2 {
    width: 100%;
    /* font-size: 2em; */
  }

  .custom-shape-divider-bottom-1733836099,
  .custom-shape-divider-top-1733606179,
  .custom-shape-divider-bottom-1733605803,
  .moto1 {
    display: none;
  }

  .tab-content li {
    color: var(--color-blue);
    padding-bottom: 2px;
    font-size: 1.1em;
  }

  #programet .card-title {
    font-size: 1.3em;
  }

  .fa-angle-down {
    font-size: 1.5em;
    border-radius: 50%;
    border: 1px solid var(--color-diamond);
    padding: 17px 18px;
  }

  #contact {
    margin-top: 20px;
  }

  footer a {
    padding: 10px;
    text-align: center;
  }

  footer .top-50 {
    top: 38% !important;
  }

  .contactArt {
    height: 40dvh;
  }

  .contactArt::before,
  .contactArt #home_index::before {
    height: 40dvh;
  }

  .icondown {
    display: none;
  }

  .motoContact {
    top: 26%;
  }
}

@media screen and (max-width:380px) {
  /* .moto p {
    font-size: 1em;
  } */
}